<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Regisztráció</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Felhasználónév">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Jelszó">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Válassz kinevezést</mat-label>
          <mat-select>
            <mat-option [value]="user" *ngFor="let user of User">{{user}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Regisztráció</button>

    </form>
  </mat-card>
</div>
