<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="banner">
  <div class="row content ">
      <span class="col-2 logo "><a routerLink="/"><img src="/assets/img/suti_logo3.png" alt="Süti logó"></a></span>
      <div class="kereso-motor">
        <form action="/action_page.php">
          <input type="text" class="kereses" placeholder="Keresés...">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
  </div>
</div>
