.banner
{
    background-image: url('/assets/img/fun.png');
    background-repeat: no-repeat;
    height:60%;
    width: auto;
    background-position: center center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.content
{
    top: 20%;
    left: 20%;
    position: absolute;
}

.kereses {
    height: 35px;
    width: 25%;
    text-decoration: none;
    border-style: none;
    padding: 10px;
    color: #b4b2d9;
    outline-style: none;
}

.kereso-motor button{
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: white;
    color: #b4b2d9;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 450%;
    min-width: 300%;
    height: auto;
    -webkit-filter: drop-shadow(2px 2px 2px white);
    filter: drop-shadow(3px 3px 3px white);
    padding-bottom: 30px;
}